<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ToDoList</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="todolist">
            <div>
                <input v-model="inputValue">
                <button @click="handleSubmit">提交</button>
            </div>
            <ul>
                <li v-for="(item, index) in list" :key="index">
                    {{ item }}
                    <button @click="handleDelete(index)">删除</button>
                </li>
            </ul>
        </div>

        <script type="text/javascript">
            var vm = new Vue({
                el: '#todolist',
                data: {
                    inputValue: '',
                    list: [],
                },
                methods: {
                    handleSubmit: function() {
                        this.list.push(this.inputValue)
                        this.inputValue = ''
                    },
                    handleDelete: function(index) {
                        this.list.splice(index, 1)
                    },
                },
            })
        </script>
    </body>
</html>
