* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px SimSun;
    background-color: #44565c;
}

.container {
    position: relative;
    width: 980px;
    min-height: 100vh;
    padding-bottom: 55px;
    margin: 0 auto;
    background-color: #fafafa;
}


/* header */
header,
footer {
    height: 55px;
    box-sizing: border-box;
    text-align: center;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
}

header {
    padding: 12px 0;
}

.todo-form > label:first-child {
    float: left;
    padding: 0 20px;
    font-size: 24px;
    vertical-align: middle;
    color: rgba(255,255,255,0.75);
    cursor: pointer;
}

.todo-form > label:last-child {
    float: right;
    padding: 0 20px;
}

#id-todo-input {
    min-width: 300px;
    min-height: 30px;
    padding: 0 8px;
    border: 0;
    border-radius: 3px 0 0 3px;
    vertical-align: middle;
}

#id-todo-add-butn {
    width: 80px;
    height: 30px;
    border: 0;
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
    background-color: #44565C;
    color: rgba(255,255,255,0.75);
    cursor: pointer;
}

button {
    outline: none;
}


/* section */
section {
    padding: 20px 0;
}

.todo-nothing {
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.35);
}

#id-todo-list {
    width: 700px;
    margin: 0 auto;
}

.todo-cell {
    position: relative;
    overflow: hidden;
    padding: 7px 3px 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    list-style-type: none;
}

.todo-cell-butn {
    float: left;
    width: 13%;
}

.todo-done,
.todo-delete,
.todo-edit {
    width: 70px;
    height: 22px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #24292e;
    cursor: pointer;
}

.todo-done {
    background-color: #BEE38C;
}

.todo-delete {
    background-color: #E0622C;
}

.todo-edit {
    background-color: #9BD6FF;
}

.done .todo-done {
    background-color: #ccc;
}

.done > .todo-task {
    text-decoration: line-through;
    color: gray;
}

.todo-task {
    float: left;
    width: 87%;
    text-indent: 2em;
}

.todo-time {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: rgba(0,0,0,0.55);
}

/* footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 55px;
}
