* {
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    background-color: #ccc;
    transform: translate(-50%, -50%);
}

.left-top,
.right-bottom {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fc0;
}

.left-top {
    top: 0;
    left: 0;
    border-bottom-right-radius: 50px;
}

.right-bottom {
    bottom: 0;
    right: 0;
    border-top-left-radius: 50px;
}
